#ocr_status_anim{
    position:relative;
    top:0;
    left:0;
    width: 100%;
    z-index:5;
    display:none;
}

#ocr_status_anim div{
    position: absolute;
    left: 50%;
    margin-left: -75px;
    margin-top: 180px;
    border: 1px solid #666;
    background-color: #FFF;
    border-radius:5px;
    color: #555;
    width:150px;
    z-index: 6;
    text-align: center;
    font-size: 10pt;
    font-weight: normal;
}

#ocr_status_anim img{
    margin-top:10px
}